<!DOCTYPE html>
<html>
    <body>
        <h1>
            The Smart Sensor Squad!
        </h1>
        <h2>
            Team members:
        </h2>
        <ul>
            Gurnoor Sohal
            Rachel Handran
            Clarissa Cheng
            Dhaivat Pachchigar
        </ul>
        <h3>
            Product Idea:
        </h3>
        <p> A collar and smart feeder for cats</p>
        <h4>
            Product Description:
        </h4>
        <p>
            A smart feeder to help keep track of your cat's eating habits,
        </p>
        <p>
            A smart collar to help keep track of your cat's health, like heartbeat, weight, etc.
        </p>
        <h5>
            Customer Interview Validation Results:
        </h5>
        <p>
        Person 1: Parents with backgrounds in science and business development for biotech
        1. What price would be reasonable?
            - 100 would be easy to sell, but around 200 is more likely.
        2. Would you buy it?
            - It depends on if you can deliver on promises. Health tracking, food/water tracking, weight management.
        3. Other thoughts?
            - While it's great that you're marketing for health reasons, it often comes down to money and savings. Yes, this will help your cat be healthier. But it will also save you money, by not wasting food; additionally if cat is healthy, in long run, lower medical bills. 
            - Good to have both qualitative and quantitative properties when marketing.
            - To track which cat is near the feeder, you can detect their unique chip or collar, to differentiate the health data in the app.

        Person 2: Housemate
        - 300-400 would be reasonable but hard to afford for many
        - He won't cause he will never adopt a cat
        - His thoughts: good project idea but very few ppl will buy it. Not everyone can afford it especially ppl with multiple cats.

        Person 3: Roommate
        - Since the target audience is somewhat niche, he thinks maybe something in the 100-150 dollar range
        - He’s more of a dog person, so maybe if it can be applied to dogs as well, then yeah he would
        - Its great for checking on the health of the pet, can plan for trips to the vet a lot easier (based on biometrics and info from the collar)

        Person 4: Sister
        - 100-200 would be a reasonable price considering competitors and the market 
        - She possibly would buy it as her boyfriend has two cats and this could be a gift
        - It's a cool idea to monitor your pet's health. The challenge could be in marketing it as a painkiller to get more consumers to buy it rather than as a vitamin.
        </p>
    </body>
<html>