<!DOCTYPE html>
<html>
    <body>
        <h1>
            The Smart Sensor Squad!
        </h1>
        <h2>
            Team members:
        </h2>
        <ul>
            Gurnoor Sohal
            Rachel handran
            Clarissa Cheng
            Dhaivat Pachchigar
        </ul>
        <h3>
            Product Idea:
        </h3>
        <p> A collar and smart feeder for cats</p>
        <h4>
            Product Description:
        </h4>
        <p>
            Put stuff here later
        </p>
        <h5>
            Customer Interview Validation Results:
        </h5>
        <p>
            Put stuff here later too
        </p>
    </body>
<html>